/**#fc5b62; //pink
 #ffc107;//yellow**/
/********************************GENERAL Classes***********************************/
*{

    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    
}
a{
    text-decoration: none;
}
/********************************HEADER***********************************/
.flex-display{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    height: 600px; 
}

.flex-1{
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    
}
.flex-2{
    margin: 0 auto;
    padding: 30px;
}

.btn-general{
    font-family: 'Poppins';
    font-size: 13px;
    text-transform: capitalize;
    margin: 0 6px;
    padding: 12px 46px;
    background: #fc5b62;
    color: #FFF;
    font-weight: 700;
}
.btn-rounded{
    border-radius: 30px;
}
.btn-general:hover{
    background: #FFC107;
    color: black;
}


#header img{
    width: 150px;
    height: 36px;
}

#header {
    background-image: url(Images/hero_demo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
}

.over-lay{
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    background: rgba(0,0,0,0.6);
    width: 100%;
}

#header .content{
    margin-top: -420px;
    text-align: center;
}

#header .content h1{
   margin-top: 30px;
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

#header .content p{
   margin-top: 4px;
    color: #FFF;
    font-size: 30px;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 1.3;
     margin-bottom: 40px;
}

.content .btn-general{
    padding: 13px 28px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid  #fc5b62;
}

.content .btn-general.transparent{
    background: transparent;
    border: 1px solid  #FFF;
    
}

.content .btn-general:hover{
     border: 1px solid #FFC107;
}
.content .btn-general.transparent:hover{
     background: #FFC107;
    color: black;
    border: 1px solid  #FFC107;
}


/***************************FEATURES****************************************/

#features{
    background: #F8F8F8;
}
#features .content-outer{
    display: table;
    margin-bottom: 60px;
    transition: .4s all linear;
}

#features .content-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px solid #FFF;
    width: 400px;
    height: 120px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}

#features .content-inner i{
    font-size: 42px;
    background:linear-gradient(#b245df, #336dea);
    color: transparent;
    -webkit-background-clip: text;
    
}

#features .content-inner h3{
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
}

#features .content-outer:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

/*************UNIQUE**************************/

#unique{
    background: #336dea;
    height: 600px;
}

#unique h2 {
    color: #FFF;
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
    font-size: 24px;
    word-spacing: 2px;
}

#unique h2 em{
    font-size: 36px;
    font-weight: 400px;
    font-style: normal;
}
#unique .slider{
    margin-top: 100px;
    margin-left: 50px;
}
#unique a{
    text-decoration: none;
    font-size: 18px;
   border-left: 2px solid rgba(255,255,255,0.4);
    
    color: rgba(255,255,255,0.4);
    padding: 11px 20px;
}
li{
    list-style: none;
    padding: 10px;
}

#unique a:hover{
    cursor: pointer;
    color: #FFF; 
}


#unique .white-text
{
    color: #FFF; 
    border-left: 2px solid #FFF;
    cursor: pointer;
}

#img-change{
    margin-top: 40px;
    margin-left: 50px;
}


/********************CARDS*******************************/

#cards{
    background: #FFF;
    width: 100%;
}
#cards .content{
    
    border: 1px solid #EDEDED;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 330px;
}

#cards .content .content-1 i{
    color: #FFC107;
    margin-bottom: 15px;
}

#cards .content .content-1 span{
    margin-left: 5px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
}

#cards .content p{
    color: #555;
    margin-bottom: 15px;
    
}
#cards .content span{

    font-size: 12px;
}
























